html, body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #181818;
	background-color: gray;
}

#cv {
	background-color: #f3f3f3;
	max-width: 1200px;
	min-width: 1000px;
	margin: auto;
	padding-bottom: 80px;
}

#headshot {
    width: 15.5%;
    float: left;
    margin-right: 30px;
    margin-left: initial;
    margin-top: 70px;
}

#headshot img {
	border-radius: 80%;
	width: 100%;
}

#name {
	float: left;
	margin-top: 50px;
}

#contactDetails {
	float: right;
    margin-top: 70px;
    margin-right: -40px;
}

#mainArea {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.clear {
	clear: both;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

.mainDetails {
	width: 70%;
	border-bottom: 2px solid #cf8a05;
	padding: 20px 40px;
	margin-left: auto;
	margin-right: auto;
	padding-top: initial;
}

.border {
	border-bottom: 1px solid #dedede;
}

.titlePerson {
	margin-bottom: 0px;
	color: #181818;
	font-style: normal;
	font-size: 50px;
	margin-top: 25px;
}

.titleWork {
	margin-top: 0px;
	font-weight: 100;
	line-height: 15px;
	font-size: 30px;
	padding-left: 3px;
	color: #181818;
}

.titleSec {
	font-size: 26px;
	font-weight: 100;
	margin-top: 20px;
	padding-left: 10px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.titleWE {
	font-weight: 500;
	color: #181818;
	margin-bottom: 0px;
    font-size: 1.5em;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.keySkills {
	column-count: 3;
}

.subDetails {
	margin-top: 0px;
	margin-bottom: 5px;
	font-style: italic;
}

.descript {
	margin-top: 0px;
}

h1, h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

h3 {
	color: #cf8a05;
	font-style: italic;
}

ul {
	list-style: none;
	color: #444444;
}

p {
	color: #444444;
	margin: 23px 0px;
}

a {
	text-decoration-line: none;
color: #444444;
}