* {
    text-align: center;
    font-family: 'Lucida Sans','Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
}

body {
    background-color: gray;
}

#cv {
    background-color: #FFEEEA;
}

img {
    border: 3px solid gray;
}

h1 {
    color: #6495ED;
    font-size: 50px;
}

h2 {
    color: #CD5C5C;
}

h3 {
    color: #F08080;
    font-size: 28px;
}

h4 {
    color: #FA8072;
}

p {
    padding: 30px;
}

ul {
    list-style-type: none;
}

figure {
    float: left;
    height: 200px;
}

header {
    margin-bottom: 40px;
    border-bottom: 1px solid gray;
    padding-top: 10px;
}

article {
    border-bottom: 1px solid gray;
    width: 96%;
    margin-left: 20px;
}